@model WEBSITENEWS.Models.Category

@{
    ViewData["Title"] = "Create";
}
    <div class="col-md-4 au-card recent-report">
        <h2>إضافة قسم</h2>
    </div>

<div class="row">
    <div class="col-md-4 au-card recent-report">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="إضافة" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn-dark">الرجوع إلى القائمة السابقة</a>
</div>

